pandas==2.2.3
numpy==2.1.0

scikit-learn==1.8.0
xgboost==1.7.5

matplotlib==3.7.1
seaborn==0.12.2

#mlflow==2.3.1
pytest==7.3.1

fastapi==0.95.2
uvicorn==0.22.0

pyyaml==6.0
joblib==1.4.2
setuptools==65.5.0
ipykernel==6.29.5

prometheus-client==0.20.0
